@import '../../styles/main.scss';

.container {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  border: double;
  border-color: red($color: #000000);

  .logo {
    padding-top: 70px;
  }
}
