.menu__logo {
  margin-left: 50px;
  width: 48px;
  height: 48px;
  margin-top: initial;
}

.menu_tittle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin: 13px;
}

.rightToolbar {
  margin-left: auto;
}

.buttonGrease {
  background-color: #4e5360;
  display: inline-block;
}

.textWhite {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}

.textUser {
  font-size: 10px;
}

.leftMargin {
  margin-left: 15px;
}
