/* stylelint-disable indentation, declaration-colon-newline-after */
@font-face {
  font-family: 'Neo Sans Pro';
  src: url('./styles/fonts/neosans.ttf') format('truetype');
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.page-container {
  height: 100%;
}
